{{#if success_msg}}
<div class="container mt-4">
    <div class="alert alert-success text-center" id="success">{{success_msg}}</div>
</div>

{{/if}}

{{#if error_msg}}
<div class="container mt-4">
    <div class="alert alert-danger" id="error_msg" style="width: 200px;">{{error_msg}}</div>
</div>

{{/if}}