<!---->
<header id="home" class="gradient-violat">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span class="logo-wraper logo-white">
            <img src="images/flyus.png" alt="">
          </span></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav  navbar-right">
          <li class="active"><a href="#home">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="#About">Sobre</a></li>
          <li><a href="#services">Serviços</a></li>
          <li><a href="#equipe">Equipe</a></li>
          <li><a href="#suporte">Contato</a></li>
          {{#if user}}
          <li><a href="/usuarios/dashboard"><span class="icon-on-button"><i class="ion-android-person"></i></span>  Bem-vindo
              {{user.nomeUsuario}}</a></li>
          <li><a href="/usuarios/logout">Sair<span
                class="icon-on-button"><i class="ion-android-exit"></i></span></a></li>
          <li></li>
          {{else}}
          <li><a href="/usuarios/login" class="btn btn-orange border-none btn-rounded-corner btn-navbar">Entrar<span
                class="icon-on-button"><i class="ion-log-in"></i></span></a></li>
          {{/if}}
        </ul>
      </div><!-- /.navbar-collapse -->
      <hr class="navbar-divider">
    </div><!-- /.container-fluid -->
  </nav>
</header>