{{>_navbarLogin}}
<div class="limiter">
    <div class="container-login100">
        <div class="login100-more" style="background-image: url('/images/plane-1030900_1920.jpg');">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="jumbotron jumbotron-fluid" style="background-color: transparent;">
                <div class="container">
                    <h1 class="display-4">FlyUs Monitoring</h1>
                    <p class="lead">Aqui iremos fazer a parte dificil para você fique tranquilo!</p>
                </div>
            </div>
        </div>
        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
            <form class="login100-form validate-form" action="/usuarios/login" method="POST">
                <span class="login100-form-title p-b-59" style="color: #999999;">
                    Entrar
                </span>

                {{#if error}}
                <div class="alert alert-danger" id="error_msg">
                    {{error}}
                </div>
                {{else}}
                {{/if}}
                {{>_msg}}


                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <span class="label-input100">Email</span>
                    <input class="input100" type="text" name="email" placeholder="Email address...">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Username is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" name="senha" placeholder="password...">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-m w-full p-b-33">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            <span class="txt1">
                                Manter-me conectado
                                <a href="#" class="txt2 hov1">

                                </a>
                            </span>
                        </label>
                    </div>
                    


                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Sign In
                        </button>
                    </div>

                    <a href="/usuarios/registro" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                        Sign Up
                        <i class="fa fa-long-arrow-right m-l-5"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>