<div class="limiter">
    <div class="container-login100">
        <div class="login100-more" style="background-image: url('/images/bg-01-2.png');">
            <a class="navbar-brand" href="/"><span class="logo-wraper logo-white">
                    <img src="/images/flyus.png" alt="" style="margin-left: 80px; margin-top: 40px;">
                </span></a>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="jumbotron jumbotron-fluid" style="background-color: transparent;">
                <div class="container">
                    <h1 class="display-4">Registre-se agora mesmo!</h1>
                    <p class="lead">Aqui iremos fazer a parte dificil para você fique tranquilo!</p>
                </div>
            </div>
        </div>

        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
            <form class="login100-form validate-form" action="/usuarios/registrar" method="POST">
                {{#each erros}}
                    <div class="alert alert-danger" id="error_msg">
                        {{texto}}
                    </div>
                {{/each}}
                {{>_msg}}
                <span class="login100-form-title p-b-59" style="color: #999999;">
                    Registrar-Se
                </span>

                <div class="validate-input" data-validate="Valid email is required: ex@abc.xyz"
                    style="margin-bottom: 35px;">
                    <span class="label-input100">Tipo de Pessoa</span>
                    <br>
                    <br>
                    <select class="form-control" id="personType" name="selectPerson" style="width: 150px;" onchange="validate()">
                        <option value="1">Pessoa Juridica</option>
                        <option value="0">Pessoa Fisica</option>
                    </select>
                    <span class="focus-input100"></span>
                </div>
                
                <div id="socialField" class="wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Razão Social</span>
                    <input class="input100" type="text" name="socialName" placeholder="Razão Social...">
                    <span class="focus-input100"></span>
                </div>

                <div id="nameField" class="wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Nome completo</span>
                    <input class="input100" type="text" name="name" placeholder="Nome...">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <span class="label-input100">E-mail</span>
                    <input class="input100" type="text" name="email" placeholder="Email address...">
                    <span class="focus-input100"></span>
                </div>

                <div id="cnpjField" class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100" id="labelNameCpf">Cnpj</span>
                    <input class="input100" type="text" name="cnpj" placeholder="76.438.289/0001-97">
                    <span class="focus-input100"></span>
                </div>

                <div id="cpfField" class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100" id="labelNameCpf">Cpf</span>
                    <input class="input100" type="text" name="cpf" placeholder="475.044.758-74">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">Senha</span>
                    <input class="input100" type="password" name="password" placeholder="*************">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Repeat Password is required">
                    <span class="label-input100">Repetir Senha</span>
                    <input class="input100" type="password" name="repeatPassword" placeholder="*************">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-m w-full p-b-33">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            <span class="txt1">
                                Aceitar os 
                                <a href="#" class="txt2 hov1">
                                    Termos de Contrato
                                </a>
                            </span>
                        </label>
                    </div>


                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Registrar-Se
                        </button>
                    </div>

                    <a href="/usuarios/login" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                        Entrar
                        <i class="fa fa-long-arrow-right m-l-5"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>